################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.bin
*.2
*.manifest
*.testlog
*.lock
*.sqlite
*.wsuo
*.json
/FinnotechProject/.vs/FinnotechProject/DesignTimeBuild
*.config
/FinnotechProject/.vs/FinnotechProject/v17/.suo
/FinnotechProject/.vs/FinnotechProject/v16/.suo
*.dll
*.pdb
*.v2
*.CopyComplete
/FinnotechProject/Application/obj
/FinnotechProject/Domain/obj
/FinnotechProject/Endpoint/obj
/FinnotechProject/EndpointTest/bin
/FinnotechProject/EndpointTest/obj
/FinnotechProject/Infrastructures/obj
*.csproj
/FinnotechProject/Endpoint/bin/Debug/net7.0
/FinnotechProject/Persistence/obj
